<div class="row d-flex justify-content-center pt-4 py-3 bg-white">
  <div class="col-lg-8 col-md-12 col-sm-12">
    <div class="row">
      <div class="col-lg-3 col-md-12 col-sm-12">
        <h5 class="text-danger font-weight-bold mx-md-3 mx-sm-4">CREATE CONTACT</h5>
      </div>
      <div *ngIf="!isLowerThanMd()" class="col-lg-5">
        <span class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
      </div>
      <div class="col-lg-4 text-right col-md-12 col-sm-12">
        <a [routerLink]="['/contacts']" class="btn btn-block btn-secondary rounded-0"><span class="px-3 py-3">CONTACT LIST</span></a>
      </div>
    </div>
  </div>
</div>

<app-contact-form></app-contact-form>
