<nav class="navbar navbar-expand-md full-header">
  <div class="container-fluid justify-content-end">
    <div class="row">
      <div class="col-12 justify-content-end" style="height: 100px">
        <div *ngIf="isLowerThanMd()" class="btn-group btn-group-vertical font-weight-bold">
          <a routerLink="/reservations/new" class="btn btn-link align-self-end text-white"><i class="fas fa-chevron-left"></i> Create Reservation</a>
          <a routerLink="/contacts" class="btn btn-link align-self-end text-white"><i class="fas fa-chevron-left"></i> Contact List</a>
        </div>
      </div>
    </div>
  </div>
</nav>
