<div class="row d-flex justify-content-center pt-4 py-3 bg-white">
  <div class="col-lg-8">
    <div class="row">
      <div class="col-lg-3 col-md-12 col-sm-12">
        <h5 class="text-danger font-weight-bold pl-md-3 ml-sm-3">Contacts List</h5>
      </div>
      <div *ngIf="!isLowerThanMd()" class="col-lg-5">
        <span class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 margin-left-none text-right">
        <div class="btn-group btn-group-vertical col-md-12 col-sm-12">
          <a [routerLink]="['/contacts/new']" class="btn btn-block btn-secondary rounded-0"><span class="px-3 py-3">CREATE CONTACT</span></a>
          <a [routerLink]="['']" class="btn btn-block btn-secondary rounded-0"><span class="px-3 py-3">RESERVATION LIST</span></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row d-flex justify-content-center mt-3">
  <div class="col-lg-8">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-12 px-1">
            <ngx-datatable class="bootstrap"
                           [rows]="contacts"
                           [headerHeight]="50"
                           [footerHeight]="50"
                           columnMode="force"
                           rowHeight="auto"
                           [externalPaging]="true"
                           [count]="page.totalElements"
                           [offset]="page.pageNumber"
                           [limit]="page.size"
                           [externalSorting]="true"
                           (sort)="onSort($event)"
                           (page)="contactService.loadContacts($event)"
            >
              <ngx-datatable-column name="Name" prop="name">
              </ngx-datatable-column>
              <ngx-datatable-column name="Type" prop="type.name">
              </ngx-datatable-column>
              <ngx-datatable-column *ngIf="!isLowerThanMd()" name="Phone" prop="phone">
              </ngx-datatable-column>
              <ngx-datatable-column *ngIf="!isLowerThanMd()" name="Birth date" prop="birthDate">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value | date: 'longDate'}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Actions" prop="id">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <div class="btn-group">
                    <a [routerLink]="['/contacts', value]" type="button" class="btn btn-secondary">EDIT</a>
                    <button type="button" (click)="deleteContact(value)" class="btn btn-secondary btn-danger">DELETE</button>
                  </div>
                </ng-template>
              </ngx-datatable-column>            </ngx-datatable>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
