<div class="row d-flex justify-content-center pt-4 py-3 bg-white">
  <div class="col-lg-8">
    <div class="row">
      <div class="col-lg-3">
        <h5 class="text-danger font-weight-bold">CREATE RESERVATION</h5>
      </div>
      <div class="col-lg-5">
        <span class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
      </div>
      <div class="col-lg-4 text-right">
        <a [routerLink]="['']" class="btn btn-secondary rounded-0"><span class="px-3 py-3">RESERVATION LIST</span></a>
      </div>
    </div>
  </div>
</div>

<app-reservation-form></app-reservation-form>
