<div class="row d-flex justify-content-center pt-4 py-3 bg-white">
  <div class="col-lg-8 pl-md-2 pl-sm-4">
    <div class="row">
      <div class="col-lg-3 col-md-12">
        <h5 class="text-danger font-weight-bold">Reservations List</h5>
      </div>
      <div *ngIf="!isLowerThanMd()" class="col-lg-5 col-md-12">
        <span class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
      </div>
      <div *ngIf="!isLowerThanMd()" class="col-lg-4 text-right">
        <div class="btn-group btn-group-vertical">
          <a [routerLink]="['/reservations/new']" class="btn btn-block btn-secondary rounded-0"><span class="px-3 py-3">CREATE RESERVATION</span></a>
          <a [routerLink]="['/contacts']" class="btn btn-block btn-secondary rounded-0"><span class="px-3 py-3">CONTACT LIST</span></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row d-flex justify-content-center mt-lg-3 mt-md-0">
  <div class="col-lg-8">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-3 px-1 mb-3">
            <div ngbDropdown class="d-block">
              <button class="btn btn-block btn-outline-secondary rounded-0" id="sortSelect" ngbDropdownToggle><i
                class="fa fa-sort-amount-desc"></i> Sort By
              </button>
              <div ngbDropdownMenu aria-labelledby="sortSelect">
                <button ngbDropdownItem (click)="reservationService.loadReservations({offset: 0}, 'reservationDate,asc')">By Date Ascending</button>
                <button ngbDropdownItem (click)="reservationService.loadReservations({offset: 0}, 'reservationDate,desc')">By Date Descending</button>
                <button ngbDropdownItem (click)="reservationService.loadReservations({offset: 0}, 'contact.name,asc')">By Alphabetic Ascending</button>
                <button ngbDropdownItem (click)="reservationService.loadReservations({offset: 0}, 'contact.name,desc')">By Alphabetic Descending</button>
                <button ngbDropdownItem (click)="reservationService.loadReservations({offset: 0}, 'rating,asc')">By Ranking Ascending</button>
                <button ngbDropdownItem (click)="reservationService.loadReservations({offset: 0}, 'rating,desc')">By Ranking Descending</button>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 px-1">
            <ngx-datatable class="bootstrap"
                           [rows]="reservations"
                           [headerHeight]="false"
                           [footerHeight]="50"
                           columnMode="force"
                           rowHeight="auto"
                           [externalPaging]="true"
                           [count]="page.totalElements"
                           [offset]="page.pageNumber"
                           [limit]="page.size"
                           (page)="reservationService.loadReservations($event)"
            >
              <ngx-datatable-column *ngIf="!isLowerThanMd()" prop="description" cellClass="thumb-cel" [maxWidth]="110">
                <ng-template ngx-datatable-cell-template let-value="value">
                  <img class="d-md-none d-sm-none" class="reservation-thumbnail" src="{{getImage(value)}}" />
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <span class="clearfix">{{row.contact.name}}</span>
                  <span class="text-muted">{{row.reservationDate | date: 'EEEE, MMMM d, y, h:mm a'}}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column *ngIf="!isLowerThanMd()" prop="rating" cellClass="bg-transparent">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span class="clearfix">Ranking</span>
                  <ngb-rating [rate]="value" max="5" (rateChange)="addRate(row.id, $event)"></ngb-rating>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="id" cellClass="text-right">
                <ng-template ngx-datatable-cell-template let-value="value">
                  <a *ngIf="!isFavorite(value)" style="cursor: pointer;" (click)="addFavorite(value)"><span *ngIf="!isLowerThanMd()">Add Favorites</span> <i class="fa fa-heart-o fa-2x text-secondary"></i></a>
                  <a *ngIf="isFavorite(value)" class="text-muted" style="cursor: pointer;" (click)="removeFromFavorites(value)"><span *ngIf="!isLowerThanMd()">Add Favorites</span> <i class="fa fa-heart-o fa-2x text-danger"></i></a>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="id" cellClass="text-right">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <a [routerLink]="['/reservations', value]" class="btn btn-secondary rounded-0">EDIT</a>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
          <!--<div class="col-12">-->
            <!--<table class="table separated-rows">-->
              <!--<tbody>-->
              <!--<tr class="custom-grey my-4">-->
                <!--<td>Stella</td>-->
                <!--<td>-->
                  <!--<span class="clearfix">Ranking</span>-->
                  <!--<ngb-rating [(rate)]="rate" max="5"></ngb-rating>-->
                <!--</td>-->
                <!--<td>Add Favorites <i class="fas fa-heart fa-2x text-danger"></i></td>-->
                <!--<td class="text-right">-->
                  <!--<button class="btn btn-secondary rounded-0">EDIT</button>-->
                <!--</td>-->
              <!--</tr>-->
              <!--<tr class="custom-grey my-2">-->
                <!--<td>Stella</td>-->
                <!--<td>-->
                  <!--<span class="clearfix">Ranking</span>-->
                  <!--<ngb-rating [(rate)]="rate" max="5"></ngb-rating>-->
                <!--</td>-->
                <!--<td>Add Favorites <i class="fas fa-heart fa-2x text-danger"></i></td>-->
                <!--<td class="text-right">-->
                  <!--<button class="btn btn-secondary rounded-0">EDIT</button>-->
                <!--</td>-->
              <!--</tr>-->
              <!--</tbody>-->
            <!--</table>-->
          <!--</div>-->

        </div>
      </div>
    </div>
  </div>
</div>
