<form class="form" [formGroup]="reservationForm" (submit)="onSubmit()">
  <div class="row d-flex justify-content-center mt-3">
    <div class="col-lg-8">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-12 px-1">
              <div class="form-row">
                <div class="col-lg-3 form-group">
                  <input id="typeahead-http" type="text" class="form-control form-control-lg" formControlName="name"
                         [ngbTypeahead]="search" (selectItem)="selectContact($event)"
                         placeholder="Contact Name"
                         [inputFormatter]="formatter" [resultFormatter]="formatter"/>
                  <small *ngIf="searching" class="form-text text-muted">searching...</small>
                  <div
                    *ngIf="
                    f.name.invalid &&
                    (f.name.dirty || f.name.touched)
                  "
                    class=""
                  >
                    <small
                      *ngIf="f.name.errors.required"
                      class="text-danger"
                    >
                      Name is required
                    </small>
                  </div>                </div>
                <div class="col-lg-3 form-group">
                  <select class="form-control form-control-lg" formControlName="type">
                    <option value="null"></option>
                    <option *ngFor="let contactType of contactTypes"
                            [value]="contactType.id">{{contactType.name}}</option>
                  </select>
                  <div
                    *ngIf="
                    f.type.invalid &&
                    (f.type.dirty || f.type.touched)
                  "
                    class=""
                  >
                    <small
                      *ngIf="f.type.errors.required"
                      class="text-danger"
                    >
                      Contact type is required
                    </small>
                  </div>
                </div>
                <div class="col-lg-3 form-group">
                  <input type="text" class="form-control form-control-lg" formControlName="phone" placeholder="Phone"/>
                </div>
                <div class="col-lg-3 form-group">
                  <input class="form-control form-control-lg" placeholder="Birth date(yyyy-mm-dd)" formControlName="birthDate"
                         (click)="birthdayDate.toggle()"
                         ngbDatepicker #birthdayDate="ngbDatepicker">
                  <div
                    *ngIf="
                    f.birthDate.invalid &&
                    (f.birthDate.dirty || f.birthDate.touched)
                  "
                    class=""
                  >
                    <small
                      *ngIf="f.birthDate.errors.required"
                      class="text-danger"
                    >
                      Birth date is required
                    </small>
                  </div>
                </div>
              </div>
              <div class="form-row align-items-center">
                <div class="col-lg-3 form-group">
                  <input class="form-control form-control-lg" placeholder="Reservation date(yyyy-mm-dd)" formControlName="reservationDate"
                         (click)="reservationDate.toggle()"
                         ngbDatepicker #reservationDate="ngbDatepicker">
                  <div
                    *ngIf="
                    f.reservationDate.invalid &&
                    (f.reservationDate.dirty || f.reservationDate.touched)
                  "
                    class=""
                  >
                    <small
                      *ngIf="f.reservationDate.errors.required"
                      class="text-danger"
                    >
                      Reservation date is required
                    </small>
                  </div>
                </div>
                <div class="col-lg-3 form-group">
                  <ngb-timepicker [meridian]="true" formControlName="reservationTime"></ngb-timepicker>
                  <div
                    *ngIf="
                    f.reservationTime.invalid &&
                    (f.reservationTime.dirty)
                  "
                    class=""
                  >
                    <small
                      *ngIf="f.reservationTime.errors.required"
                      class="text-danger"
                    >
                      Reservation time is required
                    </small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8 mt-2">
      <div class="card">
        <div class="card-body p-0">
          <div class="row">
            <div class="col-12">
              <div
                *ngIf="
                    f.description.invalid &&
                    (f.description.dirty || f.description.touched)
                  "
                class=""
              >
                <small
                  *ngIf="f.description.errors.required"
                  class="text-danger"
                >
                  Description is required
                </small>
              </div>
              <editor [init]="editorConfig" formControlName="description"></editor>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8 text-right col-md-12 col-sm-12">
      <button [disabled]="reservationForm.invalid" type="submit" [ngClass]="{'btn-block': isLowerThanMd()}" class="btn btn-danger px-3 py-2 mt-2 rounded-0">SEND</button>
    </div>

  </div>
</form>
