<form class="form" [formGroup]="contactForm" (submit)="onSubmit()">
  <div class="row d-flex justify-content-center mt-3">
    <div class="col-lg-8">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-12 px-lg-1">
              <div class="form-row">
                <div class="form-group col-lg-6">
                  <input type="text" class="form-control" formControlName="name" placeholder="Name"/>
                  <div
                    *ngIf="
                    f.name.invalid &&
                    (f.name.dirty || f.name.touched)
                  "
                    class=""
                  >
                    <small
                      *ngIf="f.name.errors.required"
                      class="text-danger"
                    >
                      Name is required
                    </small>
                  </div>
                </div>
                <div class="form-group col-lg-6">
                  <select class="form-control" formControlName="type">
                    <option value="">Contact Type</option>
                    <option *ngFor="let contactType of contactTypes"
                            [value]="contactType.id">{{contactType.name}}</option>
                  </select>
                  <div
                    *ngIf="
                    f.type.invalid &&
                    (f.type.dirty || f.type.touched)
                  "
                    class=""
                  >
                    <small
                      *ngIf="f.type.errors.required"
                      class="text-danger"
                    >
                      Contact type is required
                    </small>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-lg-6">
                  <input type="text" class="form-control" formControlName="phone" placeholder="Phone"/>
                </div>
                <div class="form-group col-lg-6">
                  <input class="form-control"
                         [(ngModel)]="dateModel"
                         formControlName="birthDate"
                         placeholder="Birth date (yyyy-mm-dd)"
                         (click)="d.toggle()"
                         [minDate]="minDate"
                         name="dp" ngbDatepicker #d="ngbDatepicker">
                  <div
                    *ngIf="
                    f.birthDate.invalid &&
                    (f.birthDate.dirty || f.birthDate.touched)
                  "
                    class=""
                  >
                    <small
                      *ngIf="f.birthDate.errors.required"
                      class="text-danger"
                    >
                      Birth date is required
                    </small>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-lg-12 text-right">
                  <button type="submit" class="btn btn-danger rounded-0 px-5" [ngClass]="{'btn-block': isLowerThanMd()}" [disabled]="contactForm.invalid">SEND</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
