/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import '~@swimlane/ngx-datatable/index';
@import '~@swimlane/ngx-datatable/themes/bootstrap';
@import '~@swimlane/ngx-datatable/assets/icons.css';

@import '~ngx-toastr/toastr';
@import '~sweetalert2/src/sweetalert2';


body {
  background-color: #efefee;
}

.custom-grey {
  background-color: #efefee;
}

.ngx-datatable.bootstrap {
  font-size: inherit !important;
}


.datatable-row-center {
  border-style:solid;
  border-width: 0px;
  border-color: #efefef;
  margin-bottom:1em;
  background-color: #efefee;
}

.ngx-datatable.bootstrap .datatable-body .datatable-body-row.datatable-row-even {
  background-color: transparent;
}

.ngx-datatable.bootstrap .datatable-body .datatable-body-row {
  border-top: none !important;
}
